@use '@/styles/color-tokens' as *;

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 8px;
  box-sizing: border-box;
  background-color: var(--bg-primary);
}

.app-main {
  display: flex;
  flex: 1;
  width: 100%;
  background-color: var(--bg-secondary);
  border: 1px solid var(--border-color);
  border-radius: 4px;
}
